@font-face {
  font-family: sepideh-bold;
  src: url(../Font/IRANSansX-Bold.woff);
}
@font-face {

  font-family: sepideh-normal;
  src: url(../Font/IRANSansX-Regular.woff);
}
:root{
  --button-size:16px;
}
.swiper{
  direction: rtl;
}
*{
  font-family: sepideh-normal;
  font-size: 14px;
}
img {
  width: 100%;
}
ul{
  list-style: none;

}
.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.last-price{
  text-decoration: line-through;
  color: #999;
}
.see-products{
  text-align: center;
}
.detail-container p{
  text-align: start;
}
.search-input{
  border: none;
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  background-color: transparent;
}
.cart-container{
  width: 25px;
}

.login-link{
  text-decoration: none;
  color:black;
}
.navbar ul{
  border-top:1px solid black;

}
.img-container{
  position: relative;
  overflow: hidden;
}
.discount{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50px);
  transition: 0.3s;
}
.detail-hidden{
  padding: 15px;
  width:100%;
  text-align: right;
}
.discount-percent{
  width: fit-content;
  margin-left: 0;
  margin-right: auto;
}
.product-item:hover .discount{
  transform: translateY(0);
}
.product-color-badge{
width: 20px;
height: 20px;
background-color: black;
display: inline-block;
}
.product-button{

  margin-bottom: 100px;
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: #f04d7d;
  color: #fff;
}
.product-button:hover{
  border-color:#f04d7d;
  color: #f04d7d;
  background-color: #fff;
}
.nav-in-third-section{
  margin-bottom: 40px;
}
.nav-in-third-section ul li{
  font-size: 25px;
}
.cosmetics-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 40px;
  position: relative;
}
.cosmetics-container span{
  font-size: 20px;
  background-color: #fff;
  color: #999;
  position: absolute;
  bottom: 0;
  right: 0;

}
.second-container{
  margin-bottom: 40px;
}
.second-container div{
  margin:5px;
  width: calc(25% - 10px);
  position: relative;
  overflow: hidden;
 
}
.second-container img{
transition: 1.5s;
}
.second-container img:hover{
  transform: scale(1.05);

}
.show-all{
  font-size:16px
}
.second-container span{
  font-size: 16px;
  background-color: #fff;
  color: #999;
  position: absolute;
  bottom: 0;
  right: 0;

}
.watch-img-container{
  margin-bottom: 40px;
}
 .watch-img-container div{
    margin:5px;
   width: calc(50% - 10px); 
   }
.titles{
  font-size: 25px;
}
.my-second-Swiper img{
  width: 100%;
}
.background-section{
  background-color: #e9e9e9;
  height: 200px;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.down-section-in-popular-brands{
  position: relative;
}
.head-in-fifth{
  text-align: end;
  font-size: 28px;
}
.card-in-main{
  margin: 8px;
  width: calc(25% - 16px);
}
.img-container{
  position: relative;
}
.brand{
  position: absolute;
  top:0;
  right: 0;
}
.product-button-in-sixth-section{
  margin-bottom: 100px;
  padding: 12px;
  background-color:#fff
 
}
.product-button-in-sixth-section:hover{
  color: #fff;
  background-color: black;
}
.news{
  font-size: 28px;
}
.right-div{
  font-size: 30px;
}
.left-div{
  font-size: 18px;
}
.nav-in-seventh div{
  text-align: end;
  margin-bottom: 20px;
  font-size:15px;
  color: #999;
}
.top-in-left-side{
  margin-bottom: 20px;
}
#bold{
  font-size: 25px;
  color: black;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #f5f5f5;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.style-img-container{
  padding: 0 80px 0 40px;
  z-index: 999;
}
.style-img-container img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-container{
  position: absolute;
  right: 40px;
  bottom: 40px;

}
.swiper-button-container .swiper-button-next, 
.swiper-button-container .swiper-button-prev,
.swiper-button-container .swiper-pagination{
  position: relative;
  top:unset;
  left:unset;
  right:unset;
  bottom:unset
}
.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: var(--button-size);
  color: black;
}
.swiper-pagination-bullet-active{
background-color: black;
}
.products{
  padding: 80px 25px;
}
.products .product-item {
  text-align: right;
}
.eighth-section{
  position: relative;
  margin: 80px auto 40px;
}
.background-border{
  height: 920px;
  border: 1px solid black;
  margin:0 120px;
  position: absolute;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: 0px; 
  z-index: 0;
}
.title-in-eighth {
  z-index: 999;
  text-align: end;
  padding: 0px 80px;
  margin: 0px 0px 40px;
}
.h2-style{
  padding: 5px;
  background-color: white;
  z-index: 999;
}
.product-button-in-last-section{
  border: 1px solid black;
  padding: 12px;
  background-color:#fff;
  z-index: 999;
 
}
.product-button-in-last-section:hover{
  color: #fff;
  background-color: black;
}
.flex-grow{
  flex-grow: 2;
  height: 1px;
  background-color:rgb(240, 240, 241);
}
.footer{
  direction: rtl;
}
.link-container div {
  padding: 8px;

}
.logo-in-footer{
  width: 150px;
}
.input{
  padding-top: 20px;
}
/* mobile view */
.nav-container-mobile{
  padding: 12px 16px;
  border-bottom: 1px solid #f5f5f5;
}
.logo-mobile{
  display: block;
  height: 18px;
  width: 113px;
  margin-right: 15px;
}
.humberger-menue{
  width: 24px;
  height: 24px;
}
.fa-sharp{
  padding-top: 8px;
  padding-left: 8px;
}
.input-container{
  padding: 5px 16px;
  border-bottom: 1px solid #f5f5f5;
}
.input-search{
  direction: rtl;
  text-align: right;
  border:none;
  background:#f5f5f5 ;
  color: #f8f1f1;
  height: 36px;
  width: 100%;
  
}
.menue{
  direction: rtl;
  margin: 10px 0 0;
  padding: 12px 12px 0;
}
.submenue{
  margin:9px;
  width: calc(25% - 18px);
}
.sub-menue-item{
  font-size: 0.7rem;
  text-align: center;
  margin-top: 0.8rem;
  width: 100%;
 
}
.img-sircle{
  border-radius: 50%;
  width: 100%;
}
.sub-menue-img{
  width: 100%;
  height: 60px;
  object-fit: cover;
}
#first-swiper-mobile{
  margin: 1.4rem 0;
  padding: 1rem 2rem 0;
}
.logo-swiper{
  margin: 0 0 1.4rem;
}
.product-button-in-mobile{
  background-color: #f04d7d;
  border-radius: 2px;
  color: #fff;
  border:none ;
  padding: 1rem;
  margin: 1.2rem 1rem 0;
}
#nbb-section{
  padding-top: 3rem;
}
#nbb-section .header-in-nbb{
  direction: rtl;
  padding: 0 1rem;
}
.grid-container{
  padding-top: 1rem;
  display: grid;
  margin: 0 0.25rem;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  grid-gap: 8px;
}
.grid-item{
  padding: 0.5rem 1.3rem;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price-item-grid{
  margin-top: 1rem;
}
.title-brand{
color: #9d9d9d;
font-size: .5rem;
font-weight: 500;

}
.price{
  font-size: .812rem;
  font-weight: 700;
}
.see-all{
  color: #41c1c6;
  font-size: 1rem;
  font-weight: 700;
}
.title-in-mob{
  font-size: .688rem;
  font-weight: 400;
  line-height: 1.45;
}
.red-title-mob{
  color: #f04d7d;
}
@media only screen and (max-width:768px){
  #mobile-model{
    display: block;
  }
  #desktop-model{
    display: none;
  }
 
}
@media only screen and (min-width:768px){
  #mobile-model{
    display: none;
  }
  #desktop-model{
    display: block;
  }
}

